<div class="modal">
  <ion-header-bar class="bar-light">

    <button class="button button-clear button-assertive" ng-click="modal.hide()">Cancel</button>
    <h1 class="title">Add Alarm</h1>

    <button class="button button-clear button-assertive" type="submit">Save</button>

  </ion-header-bar>
  <ion-content class="content-stable">

    <form ng-submit="add(alarm)">
      <div class="time-selector">
        <label class="item item-input">
          <input placeholder="HH:mm" type="time" ng-model="alarm.alarm">
        </label>
      </div>

      <ion-list>
        <ion-item class="item-light">Repeat</ion-item>
        <ion-item class="item-light">Label</ion-item>
        <ion-item class="item-light">Sound</ion-item>
      </ion-list>
      <button class="button button-clear button-assertive" type="submit">Save</button>
    </form>
  </ion-content>
</div>
