<ion-view title="Account">

    <ion-nav-buttons side="left">
        <a class="button button-clear button-assertive" href="">
            Edit
        </a>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a class="button button-clear button-assertive" href="">
            <i class="icon ion-ios7-plus-empty"></i>
        </a>
    </ion-nav-buttons>

    <ion-content class="content-stable">
        <ion-list>
            <ion-item class="item-icon-right item-light">
                <h2>Dublin</h2>
                <h4>Today, 5 hours ahead</h4>

                <span class="icon">
                    5:00 PM
                </span>
            </ion-item>

            <label class="item item-input">
          <i class="icon ion-ios7-camera placeholder-icon"></i>
          <input type="file" />
        </label>
        </ion-list>
    </ion-content>
</ion-view>
